<h2 mat-dialog-title>Spielerdefinition</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-slide-toggle
      (toggleChange)="changeBrain()"
      [checked]="player.opponentIdx>=0"
      class="example-margin"
      color="accent">
      Computergegner
    </mat-slide-toggle>
    <ng-container *ngIf="player.opponentIdx<0">
      <mat-form-field appearance="fill">
        <mat-label i18n>Name</mat-label>
        <input [(ngModel)]="player.name" i18n-placeholder matInput name="playername" placeholder="Spieler">
      </mat-form-field>
      <div class="btnPanel">
        <button (click)="clickAvatar()" mat-raised-button>
          <img [src]="player.avatarPath" alt="avatar{{player.avatar}}"
               class="avatar" matSuffix>
        </button>
        <button (click)="clickBoard()" mat-raised-button>
          <img [src]="player.boardPath" alt="board{{player.board}}"
               class="board" matSuffix>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="player.opponentIdx>=0">
      <app-opponent-tile (click)="clickOpponent()" [player]="player"></app-opponent-tile>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="ss.players.length > 1" [mat-dialog-close]="'remove'" mat-icon-button>
    <mat-icon>delete</mat-icon>
  </button>
  <button [mat-dialog-close]="player" mat-button>
    <mat-icon>save</mat-icon>
  </button>
</mat-dialog-actions>
