@import '../styles/color-vars.scss';

form {
  display: flex;
  flex-flow: column;
  min-width: 15em;

  .btnPanel {
    display: flex;
    flex-flow: row;

    button {
      padding: 1em;
      width: 50%;

      .avatar {
        width: 3em;
      }

      .board {
        width: 3em;
      }
    }
  }

}

mat-dialog-actions {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}
