<div class="scrollPanel">
  <div class="playerPanel">
    <div *ngFor="let player of ss.players, let idx = index"
         [style]="playerStyle(idx)"
         class="player">
      <div [style]="boardStyle(player)" class="board">
        <table *ngIf="ss.appMode==='game'" [class]="classForTable(idx)">
          <tr *ngFor="let row of player.gameGrid">
            <td *ngFor="let card of row">
              <app-gaming-card [card]="card"></app-gaming-card>
            </td>
          </tr>
        </table>
        <div (click)="clickInfo(player, idx)" [class]="['info', ss.appMode==='config' ? 'clickabale' : null]">
          <div class="player">
            <div class="name">{{player.name}}</div>
            <img *ngIf="player.avatar!=''"
                 [src]="player.avatarPath"
                 class="avatar">
          </div>
          <ng-container *ngIf="ss.appMode!=='config'">
            <div class="counter">
              Gesamtpunkte: {{player.score}}
            </div>
            <div class="counter">
              Sichtbar: {{player.visibleValue}}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="ss.appMode==='config' && ss.players.length<8" style="order:1000" class="player add">
      <div class="board">
        <div (click)="clickInfo(null, ss.players.length)" [class]="['info', 'clickabale']">
          <div class="player">
            <div class="name">Spieler hinzufügen</div>
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pnlControls">
  <button (click)="clickGame()" *ngIf="ss.appMode==='config'" mat-raised-button>Spielen</button>
  <button (click)="clickConfig()" *ngIf="ss.appMode!=='config'" mat-raised-button>Konfiguration</button>
</div>
