$frame_back: #8f8;
$frame_fore: #000;
$grid_back: #fc3;
$card_0: #c4c;
$card_1: #ccf;
$card_2: #1f1;
$card_3: #ee0;
$card_4: red;
$card_cover: conic-gradient($card_0, $card_1, $card_2, $card_3, $card_4, $card_0);
$tp: 0.05em;
$tm: -0.05em;
$text_shadow: $tm $tp 0px #fff, $tm $tm 0px #fff, $tp $tm 0px #fff, $tp $tp 0px #fff;
$text_stroke: $tp white;
$active_left: 20em;
$slider_track_on: #714839;
$slider_thumb_on: #3b271d;
$slider_track_off: rgba(0, 0, 0, 0.2);
$slider_thumb_off: #fd6;

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $slider_track_on;
}

:host ::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $slider_thumb_on;
}

:host ::ng-deep .mat-slide-toggle:not(mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $slider_track_off;
}

:host ::ng-deep .mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $slider_thumb_off;
}
