<div (click)="onCardClick()" *ngIf="card?.cardId == null || !card?.visible" class="empty">
  &nbsp;
</div>
<ng-container *ngIf="card?.visibleState">
  <div (@hide.done)="onAnimationDone($event, this.card?.hideState)"
       (@show.done)="onAnimationDone($event, this.card?.showState)"
       (@uncover.done)="onAnimationDone($event, this.card?.coverState)"
       (click)="onCardClick()"
       *ngIf="card?.cardId != null"
       [@.disabled]="card.noAnimation"
       [@hide]="card.hideState"
       [@show]="card.showState"
       [@uncover]="card.coverState"
       [class]="ss.getClassForCard(card)">
    <div *ngIf="!card.coveredState" class="value">
      <div>{{card.value}}</div>
      <div *ngIf="!ss.env.production" class="debug">
        {{card.cardId}}-{{card.scope.type}}
        <ng-container *ngIf="card.scope.type==='openpile'">
          {{ss.openPile.length}}
        </ng-container>
      </div>
    </div>
    <div *ngIf="card.coveredState" class="cover">
      <div class="text">
        {{ss.env.appName}}
        <div *ngIf="!ss.env.production" class="debug">
          {{card.cardId}}-{{card.scope.type}}
          <ng-container *ngIf="card.scope.type==='drawpile'">
            {{ss.drawPile.length}}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>
