<div class="stackPanel">
  <div class="stacks">
    <div class="hiddenstack">
      <app-gaming-card [card]="hiddenStackCard1"></app-gaming-card>
      <app-gaming-card [card]="hiddenStackCard"></app-gaming-card>
    </div>
    <app-gaming-card [card]="openStackCard"></app-gaming-card>
  </div>
  <div class="info">
    <ng-container *ngIf="!this.ss.isAnimating">
      <div>{{ss.gameInfo}}</div>
      <button (click)="ss.onWaitAfterClick()" *ngIf="ss.mode.startsWith('waitafter_')" color="primary" i18n
              mat-raised-button>
        Weiter
      </button>
    </ng-container>
  </div>
</div>
<app-player-grid *ngFor="let p of ss.players, let idx = index" [player]="idx"></app-player-grid>
<!--
<app-player-grid [player]="ss.currentPlayerIdx"></app-player-grid>
<div class="inactivePanel">
  <app-player-grid *ngFor="let playerIdx of ss.inactivePlayers" [player]="playerIdx"></app-player-grid>
</div>
-->
