@import 'styles/color-vars.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  display: block;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Tahoma, Arial, sans-serif;
}

app-player-grid {
  .content {
    position: absolute;
    top: 0;
    left: 20em;
    width: fit-content;
    margin: 2em;
    outline: 2em solid rgba(0, 0, 0, 0.1);
    background-color: #a83;
  }

  .inactive {
  }
}

.inactivePanel {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: flex-start;
  justify-content: flex-start;

  _app-player-grid {
    font-size: 0.4em;
  }
}

app-frame {
  display: flex;
  height: 100vh;
  background: $frame_back;
  color: $frame_fore;
  overflow-y: auto;

  .stackPanel {
    display: flex;
    flex-flow: column;
    align-items: center;

    .stacks {
      display: flex;
      flex-flow: row;
      min-width: 14em;

      app-gaming-card {
        padding: 0.5em;
      }

      .hiddenstack {
        position: relative;
        min-width: 8em;

        app-gaming-card {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .info {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      height: 10em;
      width: 20em;
      max-height: 10em;
      max-width: 20em;
      padding: 1em;

      button {
        margin-top: 1em;
      }
    }
  }

  app-player-grid {
    // padding: 1em;

    .info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(0, 0, 0, 0.6);
      padding: 0.5em 0;
      width: 100%;
      color: #fff;

      .counter, .player {
        padding: 0 1em;
        max-width: fit-content;
      }
    }
  }
}

app-gaming-card {
  .empty {
    border: 0.5em solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6em;
    height: 9em;
  }

  .active {
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }

  .card {
    border-radius: 0.5em;
    border: 0.5em solid white;
    width: 6em;
    height: 9em;
    cursor: pointer;
    // background-image: url("assets/hexagon.png");
    background-size: 3em;

    .value {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      font-weight: bold;
      pointer-events: none;
      user-select: none;
      text-shadow: $text_shadow;
    }

    .cover {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      user-select: none;
      background-image: $card-cover;

      .text {
        font-size: 1em;
        font-weight: bold;
        color: black;
        transform: rotate(45deg);
        text-shadow: $text_shadow;
      }
    }
  }

  .c0 {
    background-color: $card_0;
  }

  .c1 {
    background-color: $card_1;
  }

  .c2 {
    background-color: $card_2;
  }

  .c3 {
    background-color: $card_3;
  }

  .c4 {
    background-color: $card_4;
  }
}

.debug {
  font-size: 0.5em;
  font-weight: 0;
  text-shadow: none;
}

.value {
  .debug {
    font-size: 0.2em;
  }
}

@media(max-width: 60em) {
  app-frame {
    font-size: 0.6em;
    flex-flow: column;
    overflow-y: auto;
  }
}

