@import 'styles/color-vars.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

button.mat-focus-indicator.mat-raised-button.mat-button-base {
  background: rgba(0, 0, 0, 0.2) !important;
  color: black;
}

body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, Tahoma, Arial, sans-serif;
  background-color: $frame_back;
  background-image: url("assets/boards/board01.png");
  overflow-x: hidden;
  font-size: 12pt;

  .clickabale {
    cursor: pointer;
  }

  app-root {
    width: 100%;
    height: 100%;
  }

  app-frame {
    display: flex;
    flex-flow: row;
    color: $frame_fore;
    _border: 10px solid rgba(255, 255, 255, 0.5);
    align-items: flex-start;
    justify-content: center;
    height: 100%;

    .dbg-info {
      position: absolute;
      bottom: 1em;
      right: 1em;
      border-radius: 1em;
      border: 1px solid #00f;
      background: #aaf;
      padding: 1em;
    }

    .stackPanel {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 20em;

      .stacks {
        display: flex;
        flex-flow: row;
        min-width: 14em;
        margin-top: 1em;
        height: 12em;

        app-gaming-card {
          padding: 0.5em;
        }

        .pile {
          position: relative;
          min-width: 8em;

          app-gaming-card {
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }

      .info {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        width: calc(#{$active_left} - 1em);
        border-radius: 1em;
        margin-bottom: 1em;

        button {
          margin: 1em;
        }

        div {
          padding: 1em;
        }
      }
    }

    app-player-grid.config {
      align-items: center;
      height: 100vh;
      justify-content: center;
    }
  }

  app-gaming-card {
    .empty {
      border: 0.5em solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6em;
      height: 9em;
    }

    .active {
      box-shadow: $card_1 0 0 0 2px, $card_0 0 0 0 4px, $card_2 0 0 0 6px, $card_3 0 0 0 8px, $card_4 0 0 0 10px !important;
    }

    .card {
      border-radius: 0.5em;
      border: 0.5em solid white;
      box-shadow: 0 0 0 1px black;
      width: 6em;
      height: 9em;
      cursor: pointer;
      // background-image: url("assets/hexagon.png");
      background-size: 3em;

      .value {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        font-weight: bold;
        pointer-events: none;
        user-select: none;
        text-shadow: $text_shadow;
        // -webkit-text-stroke: $text_stroke;
      }

      .cover {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        user-select: none;
        background-image: $card-cover;

        .text {
          font-size: 1em;
          font-weight: bold;
          color: black;
          transform: rotate(45deg);
          text-shadow: $text_shadow;
          // -webkit-text-stroke: $text_stroke;
        }
      }
    }

    .c0 {
      background-color: $card_0;
    }

    .c1 {
      background-color: $card_1;
    }

    .c2 {
      background-color: $card_2;
    }

    .c3 {
      background-color: $card_3;
    }

    .c4 {
      background-color: $card_4;
    }
  }

  .debug {
    font-size: 0.5em;
    font-weight: 0;
    text-shadow: none;
    // -webkit-text-stroke: 0 black;
  }

  .value {
    .debug {
      font-size: 0.2em;
    }
  }

  @media(max-width: 1024px) {
    app-frame {
      flex-flow: column;
      overflow-y: auto;
      justify-content: flex-start;
      align-items: center;
    }

    .board {
      table {
        font-size: 0.8em;
      }
    }
  }

  .mat-dialog-container {
    background-image: url("assets/boards/board01.png");
  }
}
